<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Administration | Tableau de bord</title>

		<!-- Google Font: Source Sans Pro -->
		<link
		rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
		<!-- Font Awesome -->
		<link
		rel="stylesheet" href="{{ asset('admin/plugins/fontawesome-free/css/all.min.css')}}">
		<!-- Ionicons -->
		<link
		rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<!-- Tempusdominus Bootstrap 4 -->
		<link
		rel="stylesheet" href="{{ asset('admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
		<!-- iCheck -->
		<link rel="stylesheet" href="{{ asset('admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}">

		<link
		rel="stylesheet" href="{{ asset('admin/plugins/fontawesome-free/css/all.min.css') }}">
		<!-- JQVMap -->
		<link
		rel="stylesheet" href="{{ asset('admin/plugins/jqvmap/jqvmap.min.css')}}">
		<!-- Theme style -->
		<link
		rel="stylesheet" href="{{ asset('admin/dist/css/adminlte.min.css')}}">
		<!-- overlayScrollbars -->
		<link
		rel="stylesheet" href="{{ asset('admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')}}">
		<!-- Daterange picker -->
		<link
		rel="stylesheet" href="{{ asset('admin/plugins/daterangepicker/daterangepicker.css')}}">
		<!-- summernote -->
		<link rel="stylesheet" href="{{ asset('admin/plugins/summernote/summernote-bs4.min.css')}}">


		<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">

		<style>
			type="text/css" .highcharts-figure,
			.highcharts-data-table table {
				min-width: 310px;
				max-width: 800px;
				margin: 1em auto;
			}

			#container {
				height: 400px;
			}

			.highcharts-data-table table {
				font-family: Verdana, sans-serif;
				border-collapse: collapse;
				border: 1px solid #ebebeb;
				margin: 10px auto;
				text-align: center;
				width: 100%;
				max-width: 500px;
			}

			.highcharts-data-table caption {
				padding: 1em 0;
				font-size: 1.2em;
				color: #555;
			}

			.highcharts-data-table th {
				font-weight: 600;
				padding: 0.5em;
			}

			.highcharts-data-table td,
			.highcharts-data-table th,
			.highcharts-data-table caption {
				padding: 0.5em;
			}

			.highcharts-data-table thead tr,
			.highcharts-data-table tr:nth-child(even) {
				background: #f8f8f8;
			}

			.highcharts-data-table tr:hover {
				background: #f1f7ff;
			}

			#datatable {
				font-family: Verdana, sans-serif;
				border-collapse: collapse;
				border: 1px solid #ebebeb;
				margin: 10px auto;
				text-align: center;
				width: 100%;
				max-width: 500px;
			}

			#datatable caption {
				padding: 1em 0;
				font-size: 1.2em;
				color: #555;
			}

			#datatable th {
				font-weight: 600;
				padding: 0.5em;
			}

			#datatable td,
			#datatable th,
			#datatable caption {
				padding: 0.5em;
			}

			#datatable thead tr,
			#datatable tr:nth-child(even) {
				background: #f8f8f8;
			}

			#datatable tr:hover {
				background: #f1f7ff;
			}
		</style>

	</head>
	<body class="hold-transition sidebar-mini layout-fixed">
		<div class="wrapper">

			<!-- Preloader -->
			{# <div class="preloader flex-column justify-content-center align-items-center">
																						<img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
																					</div> #}

			<!-- Navbar -->
			{% include 'layouts.admin.header' %}


			<!-- /.navbar -->

			<!-- Main Sidebar Container -->
			{% include 'layouts.admin.sidebar' %}

			<!-- Content Wrapper. Contains page content -->{% block content %}

			{% endblock %}


			<!-- /.content-wrapper -->{% include 'layouts.admin.footer' %}

			<!-- Control Sidebar --><aside
				class="control-sidebar control-sidebar-dark"> <!-- Control sidebar content goes here -->
			</aside>
			<!-- /.control-sidebar -->
		</div>
		<!-- ./wrapper -->


		<!-- jQuery -->

		<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip --><script src="{{ asset('admin/plugins/jquery/jquery.min.js')}}"> </script>
		{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  #}
		{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  #}

		<script src="{{ asset('admin/plugins/jquery-ui/jquery-ui.min.js')}}"></script>
		<!-- jQuery UI 1.11.4 -->


		<script>
			$.widget.bridge('uibutton', $.ui.button)
		</script>
		<!-- Bootstrap 4 -->
		<script src="{{ asset('admin/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

		<scrip src="https://code.jquery.com/jquery-3.7.0.js"></script>

	
{# <script>
    $(document).ready(function() {
        // Modèle de champ de fichier supplémentaire
        var fieldHTML = '<div class="hdtuto control-group lst input-group" style="margin-top:10px"><input type="file" name="filenames[]" class="myfrm form-control"><div class="input-group-btn"><button class="btn btn-success" type="button"><i class="fldemo glyphicon glyphicon-plus"></i> Ajouter</button></div></div>';

        // Attachez un gestionnaire d'événement au clic sur le bouton Supprimer
        $('.delete-btn').click(function() {
            // Supprimez le champ de fichier et le bouton Supprimer
            $(this).closest('.increment').remove();
            // Ajoutez un nouveau champ de fichier avec le bouton "Retirer"
            $('.image-container').append(fieldHTML);
        });
    });
</script> #}

		{# {% stack('script-page')  %} #}
		{% block graph %}
			<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
			<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
			<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
			<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
			<script>
				$(document).ready(function () { // DataTable initialisation
$("#example").DataTable({
dom: 'Bfrtip',
buttons: [
// {
//     extend: 'excelHtml5',
//     title: 'Data export'

// },
// {
//     extend: 'pdfHtml5',
//     title: 'Data export'
// },
'csv',
'excel'
],
"language": {
"sProcessing": "Traitement...",
"sLengthMenu": "Afficher les enregistrements _MENU",
"sZeroRecords": "Aucun résultat trouvé",
"sEmptyTable": "Aucune donnée disponible dans ce tableau",
"sInfo": "Affichage des enregistrements de _START_ à _END_ sur un total de _TOTAL_ enregistrements",
"sInfoEmpty": "Affichage des enregistrements de 0 à 0 sur 0 enregistrements",
"sInfoFiltered": "(filtré à partir d'un total de _MAX_ enregistrements)",
"sInfoPostFix": "",
"sSearch": "Rechercher:",
"sUrl": "",
"sInfoThousands": ",",
"sLoadingRecords": "Chargement...",
"oPaginate": {
"sFirst": "Premier",
"sLast": "Dernier",
"sNext": "Suivant",
"sPrevious": "Precedent"
},
"oAria": {
"sSortAscending": ": Activer pour trier les colonnes par ordre croissant",
"sSortDescending": ": Activer pour trier la colonne par ordre décroissant"
}
},
initComplete: function () {
this.api().columns().every(function () {
let column = this;

// Create select element
let select = document.createElement('select');
select.add(new Option(''));
column.footer().replaceChildren(select);

// Apply listener for user change in value
select.addEventListener('change', function () {
var val = DataTable.util.escapeRegex(select.value);

column.search(val ? '^' + val + '$' : '', true, false).draw();
});

// Add list of options
column.data().unique().sort().each(function (d, j) {
select.add(new Option(d));
});
});
}
});
});
			</script>
			<!-- ChartJS -->
			<script src="{{ asset('admin/plugins/chart.js/Chart.min.js')}}"></script>
			<!-- Sparkline -->
			<script src="{{ asset('admin/plugins/sparklines/sparkline.js')}}"></script>
			<!-- JQVMap -->
			<script src="{{ asset('admin/plugins/jqvmap/jquery.vmap.min.js')}}"></script>
			<script src="{{ asset('admin/plugins/jqvmap/maps/jquery.vmap.usa.js')}}"></script>
			<!-- jQuery Knob Chart -->
			<script src="{{ asset('admin/plugins/jquery-knob/jquery.knob.min.js')}}"></script>
			<!-- daterangepicker -->
			<script src="{{ asset('admin/plugins/moment/moment.min.js')}}"></script>
			<script src="{{ asset('admin/plugins/daterangepicker/daterangepicker.js')}}"></script>
			<!-- Tempusdominus Bootstrap 4 -->
			<script src="{{ asset('admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')}}"></script>
			<!-- Summernote -->
			<script src="{{ asset('admin/plugins/summernote/summernote-bs4.min.js')}}"></script>
			<!-- overlayScrollbars -->
			<script src="{{ asset('admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>
			<!-- AdminLTE App -->
			<script src="{{ asset('admin/dist/js/adminlte.js')}}"></script>
			<!-- AdminLTE for demo purposes -->
			<script src="{{ asset('admin/dist/js/demo.js')}}"></script>
		{% endblock %}

		
    <!-- Hide and show-->
	<script>
    $(document).ready(function(){
        $('#type').change(function(){
            var selectedType = $(this).val();
            if(selectedType === 'Image') {
                $('#image').show();
                $('input[name="link[]"]').hide();
            } else if(selectedType === 'Vidéo') {
                $('input[name="link[]"]').show();
                $('#image').hide();
            } else {
                $('#image').hide();
                $('input[name="link[]"]').hide();
            }
        });
    });
</script>

     <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Function to toggle visibility of link and image fields based on type selection
            function toggleFields() {
                var type = document.getElementById('type').value;
                var lienField = document.querySelector('.form-group.link');
                var imageField = document.querySelector('.form-group.image');

                if (type === 'Vidéo') {
                    lienField.style.display = 'block';
                    imageField.style.display = 'none';
                } else if (type === 'Image') {
                    lienField.style.display = 'none';
                    imageField.style.display = 'block';
                } else {
                    lienField.style.display = 'none';
                    imageField.style.display = 'none';
                }
            }

            // Call toggleFields on page load
            toggleFields();

            // Add event listener to type dropdown
            document.getElementById('type').addEventListener('change', toggleFields);
        });
    </script>

	

		{# {% stack('graph') %} #}
		<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
		{# <script src="{{ asset('admin/dist/js/pages/dashboard.js')}}"></script> #}
		<script src="{{ asset('js/admin/admin_scripts.js') }}"> </script>
		<script src="{{ asset('js/admin/image_scripts.js') }}"> </script>
		<script src="{{ asset('js/admin/edit_script.js') }}"> </script>

		{# {%  yield('script') %} #}
	</body>
</html>
