{% extends "layouts.admin.app" %}


{% block content %}

	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">

		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Partenaires</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">
								<a href="#">Accueil</a>
							</li>
							<li class="breadcrumb-item active">Faq</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>


		<hr/>

		<!-- Main content -->
		<!-- Main content -->
			<section class="content"> <div class="container-fluid">
				<div
					class="row">
					<!-- left column -->
					<div
						class="col-md-12">
						<!-- general form elements -->
						<div class="card card-primary">
							<div class="card-header">
								<h3 class="card-title">{{ title }}</h3>
							</div>
							<!-- /.card-header -->
							<!-- form start -->
							<form {% if questiondata['id'] is empty %} action="{{ url('add-edit-question') }}" {% else %} action="{{ url('add-edit-question' , questiondata['id']) }}" {% endif %} method="POST">
								{{csrf_field()}}

								<div class="card-body">

									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="exampleInputEmail1">Question</label>
												<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Entrez la question" name="question" 
												{% if questiondata['question'] is not empty %} value="{{ questiondata['question'] }}" {% else %} value="{{ old('question ') }}" {% endif %}>
											</div>
										</div>
										
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label for="exampleInputEmail1">Reponse</label>
												<textarea class="form-control" name="response" rows="3" placeholder="Entrez la reponse ...">{{ questiondata['response'] }}</textarea>
											</div>
										</div>
										
									</div>

								


								</div>
								<!-- /.card-body -->

								<div class="card-footer">
									<button type="submit" class="btn btn-primary">{{ title}}</button>
								</div>
							</form>
						</div>
						<!-- /.card -->

						<!-- general form elements -->


					</div>
					<!--/.col (left) -->

				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->{% endblock %}
